<div class="addBorder">
<h3>Akshita Agarwal</h3>

<h2> About this project: </h2>
<p> This project allows local business owners to connect with each other and find out where their 
      competitors are and what they do.
      <br/> It also helps people who support small or local businesses to 
      find out who is in the market selling what. 
      <br/><br/>
      There are two parts to this project: <br/>
      <h3>1. Adding a local business -</h3> 
      This is more extensive with navigation pages to help you
      narrow down your search and, 
      <br/><br/>
      <u>Navigation Filters</u><br/>
      1. Location - Sort by Location<br/>
      2. Industry - Sort by Industry<br/>
      3. Small Sized Companies (less than 50) - View companies that have fewer than 50 employees<br/>
      4. Young Companies (Less than 10 years) - View companies less than 10 years old<br/>
      5. Business Directory - See all businesses listed in alphabetical order of company name<br/>

      <h4>You can delete a business by clicking on "Learn More" about that business</h4>

      <br/>
      <h3>2. Finding a local showcase -</h3> 
      This will allow people interested in local fairs, are in supporting
      local businesses to come out and have a good time. 
      <br/><br/>
      Click on <b>Find Local Fairs</b> in the header to see showcases. <br/>
      Here you can <b>delete a showcase</b> if you'd like.
      <br/><br/>
      <b>Add Showcase</b> will take you to a form to add another showcase. 
</p>
</div>