<div class="addBorder">
    <h2>ADD A SHOWCASE NEAR YOU</h2>
    <article>
        <form action="/addShowcase" method="post">
                    <table>
                    <tr><td class="input-field">
                        <br/><label>Showcase Name</label><br/>
                        <input type="text" name="eventname" size="50" placeholder="Showcase Name">
                    </td></tr>
                     <tr><td class="input-field">
                        <br/><label>Location</label><br/>
                        <input type="text" name="location" size="50" placeholder="San Francisco, CA"></input>
                    </td></tr>
                    <tr><td class="input-field">
                        <br/><label>Social Media</label><br/>
                        <input type="text" name="website" size="50" placeholder="www.facebook.com/showcase"></input>
                    </td></tr>
                    <tr><td class="input-field">
                        <br/><label>Details:</label><br/>
                        <textarea type="text" name="description" rows="7" placeholder="Description"></textarea>
                    </td></tr>
                    <tr><td></br><button type="submit">Add Showcase</button></td></tr>
                    </table>
        </form>
    </article>

</div>