{{!-- {{#if industry}}
<div class="industry">
    {{#each industry}}
        <a href="/industry/{{this}}" class="industry">{{this}}</a>
    {{/each}}
</div>
{{/if}}
<br> --}}
<div class="navBar">
    <br/><a href="/location">Location</a><br/>
    <a href="/industry">Industry</a><br/>
    <a href="/smallCompanies">Small Sized Companies (less than 50)</a><br/>
    <a href="/youngCompanies">Young Companies (Less than 10 years)</a><br/>
    <a href="/recentlyAdded">Recently Added</a><br/><br/>
</div>
   