<div class="addBorder">
    <h2>ADD YOUR BUSINESS</h2>
    <article>
        <form method="POST" action="/api/addBusiness">
        <table>
            <tr><td class="input-field">
                <br/><label>Company Name</label><br/>
                <input type="text" name="companyName" size="50" placeholder="Company Name">
            </td>
            <td class="input-field">
                <br/><label>Founder</label><br/>
                <input type="text" name="founder" size="50" placeholder="John Doe">
            </td></tr>
            
            <tr><td class="input-field">
                <br/><label>Industry</label><br/>
                <input type="text" name="industry" size="50" placeholder="Industry1 Industry2 (space seperated)">
            </td>
            <td class="input-field">
                <br/><label>Website</label><br/>
                <input type="text" name="website" size="50" placeholder="www.website.com"></input>
            </td></tr>

                <tr><td class="input-field">
                    <br/><label>Age</label><br/>
                    <input type="number" name="age" size="50" placeholder="11"></input>
                </td>

                <td class="input-field">
                    <br/><label># of Employees</label><br/>
                    <input type="number" name="companysize" size="50" placeholder="50"></input>
                </td></tr>

            <tr><td class="input-field">
                <br/><label>Location</label><br/>
                <input type="text" name="location" size="50" placeholder="San Francisco, CA"></input>
            </td></tr>
            <tr><td class="input-field">
                <br/><label>Description:</label><br/>
                <textarea type="text" name="description" rows="7" placeholder="Description"></textarea>
            </td></tr>
            <tr><td></br><button type="">Add Home Business</button></td></tr>
            </table>
        </form>
    </article>

</div>
